.aside-nav {
    width: 400px;
}

.aside-nav__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.aside-nav__item img {
    border-radius: 8px;
}

.aside-nav__link {
    display: flex;
    align-items: center;
    gap: 16px;
}

.aside-nav__link-text {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: #1E222E;
}