.card {
    display: flex;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    list-style: none;
    border-radius: 16px;
}

.card .card__wrapper {
    padding: 20px 0 0 0;
}

.card--landscape {
    flex-wrap: nowrap;
    overflow: hidden;
    grid-column: 1 / 3;
    background-color: #F4F6FA;

}

.card--landscape .card__wrapper {
    padding: 20px 32px;
}

.card__view-date {
    display: flex;
    align-items: center;
    gap: 16px;
    margin: 0 0 16px 0;
    list-style: none;
    padding: 0;
}

.card__date,
.card__views,
.card__clock {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #696E82;
}

.card__views,
.card__clock {
    display: flex;
    align-items: center;
    gap: 4px;
}

.card__caption {
    margin: 0 0 8px 0;
}

.card__description {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}