.catalog {
    padding: 60px 0 40px;
}

.catalog__list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-gap: 40px 32px;
    list-style: none;
    overflow: hidden;
}

.catalog__caption {
    margin: 0 0 24px 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
}

.catalog__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    margin: 0 0 48px 0;
    color: #696E82;
}

.catalog__right {
    grid-column: 2 / 3; 
}

.catalog__aside {
    margin-bottom: 60px;
}

.catalog__socials-caption,
.catalog__socials-copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #696E82;
}

.catalog__socials-caption {
    display: inline-block;
    margin: 0 0 12px 0;
}

.catalog__socials-copyright {
    margin: 0;
    padding: 0;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin: 0 0 24px 0;
    padding: 0;
}

.catalog__social {
    list-style: none;
    margin-bottom: 24px;
}

.socials-item {
    padding: 0;
    border: 0;
    margin: 0;
    height: 40px;
    cursor: pointer;
    border: none;
    border-radius: 50%;
}