.header {
    height: 100%;
    padding: 12px 100px 20px;
    background: linear-gradient(90deg, #415BD2 0%, #8DA1F7 100%);
}

.header__top {
    margin: 0 0 20px 0;
}

/* .header__bottom {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    gap: 12px;
} */

.header__bottom { 
     display: grid; 
     grid-template-columns: 170px 1fr;
 }


.header__logo {
    width: 170px;
    height: 36px;
}

.header__bottom-wrapper {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: end;
    gap: 6px;
}
